body {
    background-color: lightgrey;
}
main {
    padding-top: 1em;
}
td {
    width: 2em;
    height: 2em;
    border: 2px solid lightgrey;
    border-radius: 50%;
}

table {
    padding: 2em;
    background-color: orange;
    margin: auto;

}

h1 {
    text-align: center;
}
